<div class="vertical-center">
  <div class="container">
    <div class="sign-up-container white">
      <div class="row">
        <div class="col-7">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div>
              <h1 class="company-name">Manage.io</h1>
              <h3><%= link_to (octicon "mark-github", :height => 40), "https://github.com/aroon0808", target: :_blank %>  Damian Gronowski </h3>
              <h3><%= link_to (octicon "mark-github", :height => 40), "https://github.com/DawidCwiek", target: :_blank %>  Dawid Ćwiek </h3>
              <h3><%= link_to (octicon "mark-github", :height => 40), "https://github.com/Kucziii", target: :_blank %>  Adam Kuczyński </h3>
              <h3><%= link_to (octicon "mark-github", :height => 40,class: "white"), "https://github.com/Timedar", target: :_blank %>  Filip Gralak</h3>
              <h6>Praktyki binarapps 2019</h6>
            </div>
          </div>
        </div>
        <div class="col-5 confirm">
          <div class="col form-user more">
            <h5 class="col sign-up-header">
              YOUR ACCOUNT IS ARCHIVED
            </h5>
          </div>
          <a
            class="link-hover a-styling elo"
            rel="nofollow"
            data-method="delete"
            href="/users/sign_out"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
