<div class="vertical-center">
  <div class="container">
    <div class="sign-up-container white">
      <div class="row">
        <div class="col-7">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div>
              <h1 class="company-name">Manage.io</h1>
              <h3>Damian Gronowski</h3>
              <h3>Dawid Ćwiek</h3>
              <h3>Adam Kuczyński</h3>
              <h3>Filip Garlak</h3>
            </div>
          </div>
        </div>
        <div class="col-5 confirm">
          <div class="col form-user more">
            <h5 class="col sign-up-header">
              YOU HAVE TO WAIT FOR CONFIRMATION BY ADMIN
            </h5>
          </div>
          <a
            class="link-hover a-styling elo"
            rel="nofollow"
            data-method="delete"
            href="/users/sign_out"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
