<h1>Admin index</h1>

<div class="Id" id="users_list"></div>
<div class="Full_Name" id="users_list"></div>
<div class="Email" id="users_list"></div>
<div class="IsAdmin" id="users_list"></div>
<%= javascript_pack_tag'users_list' %>
<div id="list"></div>
<%= javascript_pack_tag'list' %>

