
<div class="container">
        <div class="row">
          <div class="col admin">
            <div id="list"></div>
          </div>
          <div class="col admin">
            <h2 class="sign-up-header admin-header">Users</h2>
            <div class="container">
              <div id="tabs_list"></div>
              <%= javascript_pack_tag 'tabs_user_list' %>
            </div>
          </div>
        </div>
      </div>
    </div>
