
<div class="container">
        <div class="row">
          <div class="col admin">
            <div id="list"></div>
          </div>
          <div class="col admin">
              <div id="tabs_list"></div>
              <%= javascript_pack_tag 'tabs_user_list' %>
          </div>
        </div>
      </div>
    </div>
