
  <div class="row backlog-first-row">
    <div class="col"></div>
  </div>
  <div class="row backlog-second-row">
    <div class="col project-task-list">
    <%= content_tag :div,
        id: "project-task-list-backlog",
        data: @backlog.to_json do %>
      <% end %>
      <%= javascript_pack_tag 'project-task-list-backlog' %>
    </div>
  </div>
