<%= javascript_pack_tag 'current_user_tasks' %>
<%= javascript_pack_tag 'current_user_projects' %>

<div class="container main-container">
  <div class="row">
    <div class="col project-main-container">
      <div>
        <h2 class="project-header">Project list</h2>
        <div id="current-projects-list"></div>
      </div>
    </div>
    <div class="col admin task-main-container">
      <div>
        <h2 class="project-header">Task list</h2>
        <div id="current-tasks-list"></div>
      </div>
      <div class="label-margin">
        <div class="label-info">
          <% if user_signed_in? %>
            Full Name:  <%= current_user.full_name %></br>
            Your email: <%= current_user.email %>
          <% else %>
            <h3>Please Sign in!</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>