.admin {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.users {
  border: 2px solid #16111f;
  border-radius: 6px;
}

.admin-header {
  margin-top: 30px;
}

#app {
  text-align: right;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
  border: none;
}

.width {
  width: 250px;
}

.padding {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  .vert-align-mid {
    vertical-align: middle !important;
  }
}
