.project-task-list {
  max-width: 70vw;
}

.backlog-first-row {
  height: 20vh;
  display: flex;
}

.backlog-second-row {
  display: flex;
  justify-content: space-evenly;
}

.searchbar-config {
  padding-left: 70%;
}
.backlog{
  padding: 5%;
  text-align: center; 
}