ul.striped-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 200px;
}
ul.striped-list > .list-group-item {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 6px;
}
ul.striped-list > .list-group-item:nth-of-type(odd) {
  background-color: #e9e9f9;
}
ul.striped-list > .list-group-item:last-child {
  border-bottom: none;
}
