@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
  width: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.menu {
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #331670;
  color: #fff;
  padding-right: 0px;
  padding-left: 0px;
}

.width-change {
  max-width: 250px;
}

.link-hover {
  color: inherit;
  text-decoration: none !important;
  vertical-align: middle;
}

.sidebar-header {
  padding-bottom: 40px;
  padding-top: 40px;
  background: #331670;
  text-align:center;
  padding-left: 10px;
}

.ul-styling {
  color: #fff;
  padding-left: 0px;
}

.li-styling:hover {
  color: #331670;
  background: #fff;
}

.li-styling {
  border-top: 1px solid #fff;
  text-align: center;
  font-size: 1.6em;
  display: block;
  height: 50px;
  width: 100%;
  padding-left:10px;
}

.last-child:hover {
  color: #331670;
  background: #fff;
}

.last-child {
  position: absolute;
  bottom: 0;
  display: block;
  height: 50px;
  width: 100%;
  border-top: 1px solid #fff;
  padding-top: 5px;
  text-align: center;
  font-size: 1.6em;
  
}

.li-last-item {
  border-bottom: 1px solid #fff;
}