.userViewContainer {
  margin-top: 40px;
}

.label-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #331670;
  border-radius: 10px;
  min-width: 400px;
}

.task-scroll {
  overflow: scroll;
  max-height: 70vh;
}

.project-scroll {
  overflow: scroll;
  max-height: 85vh;
}

.label-margin {
  margin-top: 20px;
  margin-bottom: 28px;
}

.myProjects {
  flex-direction: column;
}

.task-list-styling {
  display: flex;
  width: 100%;
}

.project-header {
  margin-top: 27px;
  text-align: center;
  margin-bottom: 30px;
}

.project {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.task-main-container {
  margin-right: 10px;
  display: flex;
  justify-content: space-between !important;
  padding-right: 30px;
}

.project-main-container {
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.main-container {
  padding-top: 0px;
}

.userdash-link {
  color: #331670;
  text-decoration: none;
  cursor: pointer;
}

.userdash-link:hover {
  color: #fff;
  background-color: #331670 !important;
  text-decoration: none;
  cursor: pointer;
}
