body {
  background-color: #fff;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.white {
  color: white;
}

.container {
  padding: 50px 0 0 0;
}

