@import "bootstrap";

body {
    background-color: #331670;
}


.container {
  margin: auto;
}

.sign-up {
text-align: center;
}

.company-name {
    margin-bottom: 30px;
}
.row {
    background-color: white;
    border-radius: 15px;
}

.col-7, .col-5 {
   margin: auto;
   text-align: center;
}

.col-5 {
    margin-top: 50px;
}


