// @import "bootstrap";
@import "index";

.row-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn-lg {
  background-color: #fff;
  padding: 5px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #331670;
  border: none;
}

.actions {
  width: 100%;
}

.btn-redirect {
  background-color: #007bff;
  border: none;
  color: #fff
}

.white-link {
  color: #fff;
  text-align: center;
}

.white-link:hover {
  color: #007bff;
  text-decoration: none;
}

.autofocus {
  padding-left: 5px;
}

.sign-up {
  text-align: center;
  margin-bottom: 30px;
  
}

.sign-up-bigger-margin {
  text-align: center;
  margin-bottom: 50px
}


.forgot-password {
  padding: 15% 0;
}
